
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="mt-5">
        <center>
            <a class="btn btn-primary" href="/Home/Index">Home</a>
            <a class="btn btn-secondary" href="/Home/AboutUs">About Us</a>
            <a class="btn btn-success" href="/Home/Privacy">Privacy</a>
            <a class="btn btn-warning" href="/Home/ContactUs">Contact Us</a>
            <a class="btn btn-danger" href="/Account/Login">Login</a>
            <a class="btn btn-info" href="/Account/Register">Register</a>
        </center>
    </nav>
    @*start body*@
    <center>
        <div class="mt-3 p-5 bg-primary text-white rounded">
            <h1>Welcome To Route "Home Page"</h1>
            <p>Welcom</p>
        </div>
    </center>

    @*end body*@
    @*start Footer*@
    <center>
        <div>
            <p>CopyRights &copy; Route @DateTime.Now.Year </p>
        </div>
    </center>
    @*end footer*@
</body>
</html>
